/* W3.CSS 4.12 November 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
html,body,h1,h2,h3,h4,h5,h6 {font-family: Helvetica Neue,Helvetica,Arial,sans-serif;}
html,body{font-size:15px;line-height:1.5}
html{overflow-x:hidden}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}
@media screen and (max-width:600px){
  h1 {font-size:26px}}

@media (max-width:600px){.main{margin-left:0!important;margin-right:0!important}  }
.padding{padding:64px 8px 64px;}
@media screen and (max-width:600px){.padding{padding:34px 0px 34px;font-size: 20px;}}
.container{padding:0.01em 16px;}
.rooster_sb {
  width: 450px;
  height: 300px;
  border: 5px solid #000000;
  padding: 0px 0px 0px 0px;
  margin: 30px auto;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  position: relative;
}

.main {text-align: center;   padding: 30px;
}

.outer
{
     padding: 30px;
     text-align: center;
}
.inner
{
     display: inline-block;
     padding: 50px;
}


@media screen and (max-width:600px) {
  .rooster_sb {
    width: 250px;
    height: 150px;
    border: 5px solid #000000;
    padding: 0px 0px 0px 0px;
    margin: 30px auto;
    border-radius: 50%;
    font-weight: 900;
    color: #000000;
    position: relative;
  }
}

.rooster_circle1 {
border: 5px solid #000000;
position: absolute;
width: 100px;
height: 100px;
padding: 20px;
border-radius: 50%;
right: 170px;
bottom: -110px;
}

@media screen and (max-width:600px) {
.rooster_circle1{
  right: 85px;
  bottom: -90px;
  width: 75px;
  height: 75px;
  }}


.rooster_circle2 {
  border: 5px solid #000000;
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 50%;
  right: 190px;
  bottom: -170px;
}

@media screen and (max-width:600px) {
.rooster_circle2{
  right: 85px;
  bottom: -145px;}}


.rooster_circle3 {
  border: 5px solid #000000;
  position: absolute;
  width: 25px;
  padding: 10px 15px;
  border-radius: 50%;
  right: 193px;
  bottom: -210px;
}
@media screen and (max-width:600px) {
  .rooster_circle3{
    right: 68px;
    bottom: -180px;}}


.rooster_img {
  position: relative;
  width:  327px;
  height: 350px;
  top: 270px;
  left: -65px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

@media screen and (max-width:600px) {
  .rooster_img {
    width:  280px;
    height: 300px;
    top: 180px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    position: relative;

    }
  }

.penis_img {
  position: relative;
  width:  327px;
  height: 350px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin: 30px auto;
  border-radius: 50%;
}

@media screen and (max-width:600px) {
  .penis_img  {
    width:  227px;
    height: 250px;
  }
}

.penis_circle1 {
  border: 2px solid #000000;
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 10px 15px;
  border-radius: 50%;
  left: 145px;
  top: 340px;
}
@media screen and (max-width:600px) {
  .penis_circle1{
  left: 100px;
  top: 250px;
}}

.penis_circle2 {
  border: 2px solid #000000;
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 50%;
  left: 140px;
  top: 370px;
}
@media screen and (max-width:600px) {
  .penis_circle2{
    left: 95px;
    top: 280px;
  }
}

.penis_circle3 {
  border: 2px solid #000000;
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 10px 15px;
  border-radius: 50%;
  left: 115px;
  top: 430px;
}
@media screen and (max-width:600px) {
  .penis_circle3{
    left: 80px;
    top: 340px;
    width: 80px;
    height: 80px;
  }
}
.penis_sb {
  width: 450px;
  height: 300px;
  border: 2px solid #000000;
  padding: 0px 0px 0px 0px;
  margin: 30px auto;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  position: absolute;
  left: -50px;
  top: 530px;

}
@media screen and (max-width:600px) {
.penis_sb {
  left: -35px;
  top: 400px;
  width: 300px;
  height: 150px;
}
}
.center{
     margin: 0 auto;
     width: 100px;
}

.nsfw {
	-moz-box-shadow: 13px 14px 14px -7px #9fb4f2;
	-webkit-box-shadow: 13px 14px 14px -7px #9fb4f2;
	box-shadow: 13px 14px 14px -7px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:18px 45px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.nsfw:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.nsfw:active {
	position:relative;
	top:1px;
}



.sfw {
	-moz-box-shadow: 13px 14px 14px -7px #276873;
	-webkit-box-shadow: 13px 14px 14px -7px #276873;
	box-shadow: 13px 14px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:18px 45px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.sfw:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.sfw:active {
	position:relative;
	top:1px;
}


/*
.push_button {
    position: relative;
    width:220px;
    height:40px;
    text-align:center;
    color:#000000;
    text-decoration:none;
    line-height:43px;
    font-family:'Oswald', Helvetica;
    display: block;
    margin: 30px;
}
.push_button:before {
    background:#f0f0f0;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;

    position: absolute;
    content: "";
    left: -6px; right: -6px;
    top: -6px; bottom: -10px;
    z-index: -1;
}

.push_button:active {
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    top:5px;
}
.push_button:active:before{
    top: -11px;
    bottom: -5px;
    content: "";
}

.nsfw {
    text-shadow:-1px -1px 0 #A84155;
    background: grey;
    border:1px solid #D25068;

    background-image:-webkit-linear-gradient(top, #F66C7B, #D25068);
    background-image:-moz-linear-gradient(top, #F66C7B, #D25068);
    background-image:-ms-linear-gradient(top, #F66C7B, #D25068);
    background-image:-o-linear-gradient(top, #F66C7B, #D25068);
    background-image:linear-gradient(to bottom, #F66C7B, #D25068);

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.nsfw:hover {
    background: #F66C7B;
    background-image:-webkit-linear-gradient(top, #D25068, #F66C7B);
    background-image:-moz-linear-gradient(top, #D25068, #F66C7B);
    background-image:-ms-linear-gradient(top, #D25068, #F66C7B);
    background-image:-o-linear-gradient(top, #D25068, #F66C7B);
    background-image:linear-gradient(top, #D25068, #F66C7B);
}

.sfw {
    text-shadow:-1px -1px 0 #000000;
    background: #ffffff;
    border:1px solid #000000;
    background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:linear-gradient(top, #48C6D4, #3EACBA);

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.sfw:hover {
    background: #ffffff;
    background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:linear-gradient(top, #3EACBA, #48C6D4);
}
